<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,800" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <title><%= title %></title>
  </head>
  <body>
    <div class="s006">
      <form action="result">
        <fieldset>
          <legend style="color: black">Masukkan kata yang ingin anda cari.</legend>
          <div class="inner-form">
            <div class="input-field">
              <button disabled class="btn-search" type="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path
                    d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"
                  ></path>
                </svg>
              </button>
              <input id="keyword" type="text" name="keyword" />
              <!-- <audio id="player" controls></audio>
              <script>
                const player = document.getElementById("player");

                const handleSuccess = function (stream) {
                  if (window.URL) {
                    player.srcObject = stream;
                  } else {
                    player.src = stream;
                  }
                };

                navigator.mediaDevices.getUserMedia({ audio: true, video: false }).then(handleSuccess);
              </script> -->
            </div>

            <div class="container mt-4">
              <div class="row">
                <div class="col-12">
                  <h2>
                    Daftar Surat dan Ayat:
                    <span id="jumlahTerjemahan" style=""></span>
                  </h2>

                  <table class="table" id="box">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Surat</th>
                        <th scope="col">Ayat</th>
                        <th scope="col">Detail</th>
                      </tr>
                    </thead>
                    <tbody id="myTB"></tbody>
                  </table>

                  <script>
                    async function handleSubmit(event) {
                      event.preventDefault();

                      const data = new FormData(event.target);

                      const value = data.get("keyword");

                      console.log({ value });

                      const response = await fetch(`http://api.alquran.cloud/v1/search/${value}/all/id`);
                      var terjemahan = await response.json();
                      var table = "<tr><th>" + "</th><td>" + "</td><td>" + "</td><td>" + "</td></tr>";
                      document.getElementById("myTB").innerHTML = table;
                      const limit = 1000;

                      if (terjemahan.data.matches.length > limit) {
                        for (let i = 0; i < limit; i++) {
                          var table =
                            "<tr><th>" +
                            (i + 1) +
                            "</th><td style='font-weight:bold'>" +
                            terjemahan.data.matches[i].surah.englishName +
                            "</td><td>" +
                            terjemahan.data.matches[i].numberInSurah +
                            "</td><td>" +
                            terjemahan.data.matches[i].text +
                            "</td></tr>";
                          document.getElementById("myTB").innerHTML += table;
                        }
                      } else {
                        for (let i = 0; i < terjemahan.data.matches.length; i++) {
                          var table =
                            "<tr><th>" +
                            (i + 1) +
                            "</th><td style='font-weight:bold'>" +
                            terjemahan.data.matches[i].surah.englishName +
                            "</td><td>" +
                            terjemahan.data.matches[i].numberInSurah +
                            "</td><td>" +
                            terjemahan.data.matches[i].text +
                            "</td></tr>";
                          document.getElementById("myTB").innerHTML += table;
                        }
                      }
                      document.getElementById("jumlahTerjemahan").textContent = terjemahan.data.matches.length + " AYAT";

                      const $box = document.getElementById("box");
                      const searchText = value;
                      const regex = new RegExp(searchText, "gi");

                      let text = $box.innerHTML;
                      text = text.replace(/(<mark style="background-color: #ffd700; padding: 0em">|<\/mark>)/gim, "");

                      const newText = text.replace(regex, '<mark style="background-color: #ffd700; padding: 0em">$&</mark>');
                      $box.innerHTML = newText;
                    }

                    const form = document.querySelector("form");
                    form.addEventListener("submit", handleSubmit);
                  </script>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </body>
</html>
